<div class="post bg-white p-4 shadow-md rounded" id="post-{{ post.id }}">
    <h2 class="text-xl font-bold"><a href="{{ url_for('post', post_id=post.id) }}" class="hover:underline">{{ post.title }}</a></h2>
    <p class="mb-4">{{ post.content }}</p>
    {% if current_user.is_authenticated and post.user_id == current_user.id %}
        <div class="post-buttons flex space-x-4">
            <a href="{{ url_for('edit', post_id=post.id) }}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Edit</a>
            <form action="{{ url_for('delete', post_id=post.id) }}" hx-delete="{{ url_for('delete', post_id=post.id) }}" hx-target="#post-{{ post.id }}" hx-swap="outerHTML" method="post" class="delete-form inline-block">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">Delete</button>
            </form>
        </div>
    {% endif %}
</div>
